/* Đặt các thuộc tính chung cho trang */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

/* Kiểu cho phần điều hướng */
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

nav li a {
    text-decoration: none;
    color: #333;
    padding: 10px;
}

nav li.logo {
    font-weight: bold;
}

/* Kiểu cho nội dung chính */
.main-content {
    margin: 20px;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.container {
    border: 1px solid #ddd;
    padding: 20px;
}

.ask-area {
    display: flex;
    flex-direction: column;
}

.main-form {
    margin-top: 10px;
}

.question-content {
    resize: none;
    border: 1px solid #ddd;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 10px;
}

.letter {
    font-weight: bold;
}

#submit-btn {
    cursor: pointer;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

#submit-btn:hover {
    background-color: #0056b3;
}